USE [DBPracticas]
GO
/****** Objeto: Table [dbo].[Departamentos] Fecha de script: 18/05/2026 9:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[codDepto] [int] IDENTITY(1,1) NOT NULL,
	[nomDepto] [varchar](20) NULL,
	[ubicacion] [varchar](100) NULL,
 CONSTRAINT [pk_departamentos] PRIMARY KEY CLUSTERED 
(
	[codDepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleProyectos] Fecha de script: 18/05/2026 9:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleProyectos](
	[codEmple] [int] NOT NULL,
	[codProye] [int] NOT NULL,
	[rol] [int] NOT NULL,
	[horasAsignadas] [int] NULL,
 CONSTRAINT [pk_detalleProyectos] PRIMARY KEY CLUSTERED 
(
	[codEmple] ASC,
	[codProye] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empleados] Fecha de script: 18/05/2026 9:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[codEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[codDepto] [int] NULL,
	[nomEmpleado] [varchar](20) NULL,
	[ape1Empleado] [varchar](20) NULL,
	[ape2Empleado] [varchar](20) NULL,
	[fecIniEmp] [date] NULL,
	[fecFinEmp] [date] NULL,
	[edad] [tinyint] NULL,
 CONSTRAINT [pk_empleado] PRIMARY KEY CLUSTERED 
(
	[codEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HistorialAccesos] Fecha de script: 18/05/2026 9:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialAccesos](
	[codAcceso] [int] IDENTITY(1,1) NOT NULL,
	[fechaAcceso] [datetime] NOT NULL,
	[tipoAcceso] [tinyint] NOT NULL,
	[codEmpleado] [int] NOT NULL,
	[detalle] [varchar](100) NULL,
 CONSTRAINT [pk_hAccesos] PRIMARY KEY CLUSTERED 
(
	[codAcceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Proyectos] Fecha de script: 18/05/2026 9:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyectos](
	[codProyecto] [int] IDENTITY(1,1) NOT NULL,
	[nomProyecto] [varchar](40) NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NULL,
 CONSTRAINT [pk_proyectos] PRIMARY KEY CLUSTERED 
(
	[codProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 18/05/2026 9:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[codRol] [int] IDENTITY(1,1) NOT NULL,
	[nomRol] [varchar](25) NULL,
	[descripcion] [text] NULL,
 CONSTRAINT [pk_rol] PRIMARY KEY CLUSTERED 
(
	[codRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Seguridad] Fecha de script: 18/05/2026 9:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguridad](
	[codSeguridad] [int] IDENTITY(1,1) NOT NULL,
	[codEmple] [int] NOT NULL,
	[fecIniSeg] [date] NOT NULL,
 CONSTRAINT [pk_seguridad] PRIMARY KEY CLUSTERED 
(
	[codSeguridad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistorialAccesos] ADD  DEFAULT (getdate()) FOR [fechaAcceso]
GO
ALTER TABLE [dbo].[Proyectos] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fechaInicio]
GO
ALTER TABLE [dbo].[DetalleProyectos]  WITH CHECK ADD  CONSTRAINT [fk_detalle_empleado] FOREIGN KEY([codEmple])
REFERENCES [dbo].[Empleados] ([codEmpleado])
GO
ALTER TABLE [dbo].[DetalleProyectos] CHECK CONSTRAINT [fk_detalle_empleado]
GO
ALTER TABLE [dbo].[DetalleProyectos]  WITH CHECK ADD  CONSTRAINT [fk_detalle_proyecto] FOREIGN KEY([codProye])
REFERENCES [dbo].[Proyectos] ([codProyecto])
GO
ALTER TABLE [dbo].[DetalleProyectos] CHECK CONSTRAINT [fk_detalle_proyecto]
GO
ALTER TABLE [dbo].[DetalleProyectos]  WITH CHECK ADD  CONSTRAINT [fk_detalle_rol] FOREIGN KEY([rol])
REFERENCES [dbo].[Roles] ([codRol])
GO
ALTER TABLE [dbo].[DetalleProyectos] CHECK CONSTRAINT [fk_detalle_rol]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [fk_empleado_departamento] FOREIGN KEY([codDepto])
REFERENCES [dbo].[Departamentos] ([codDepto])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [fk_empleado_departamento]
GO
ALTER TABLE [dbo].[HistorialAccesos]  WITH CHECK ADD  CONSTRAINT [fk_hAccesos_Emple] FOREIGN KEY([codEmpleado])
REFERENCES [dbo].[Empleados] ([codEmpleado])
GO
ALTER TABLE [dbo].[HistorialAccesos] CHECK CONSTRAINT [fk_hAccesos_Emple]
GO
ALTER TABLE [dbo].[Seguridad]  WITH CHECK ADD  CONSTRAINT [fk_seguridad_empleados] FOREIGN KEY([codEmple])
REFERENCES [dbo].[Empleados] ([codEmpleado])
GO
ALTER TABLE [dbo].[Seguridad] CHECK CONSTRAINT [fk_seguridad_empleados]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [ck_edad] CHECK  (([edad]>(17)))
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [ck_edad]
GO
ALTER TABLE [dbo].[HistorialAccesos]  WITH CHECK ADD  CONSTRAINT [chk_tipoAc] CHECK  (([tipoAcceso]<(2) AND [tipoAcceso]>=(0)))
GO
ALTER TABLE [dbo].[HistorialAccesos] CHECK CONSTRAINT [chk_tipoAc]
GO
/****** Objeto: StoredProcedure [dbo].[obtenerNombre] Fecha de script: 18/05/2026 9:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[obtenerNombre] as
begin
	select codEmpleado,Empleados.codDepto,nomEmpleado,ape1Empleado,ape2Empleado,fecIniEmp,fecFinEmp,edad
	from Empleados left join Departamentos 
			on Empleados.codDepto = Departamentos.codDepto;
end;
GO
/****** Objeto: StoredProcedure [dbo].[obtenerNombreDepto] Fecha de script: 18/05/2026 9:22:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[obtenerNombreDepto] as
begin
	select codDepto,nomDepto,ubicacion
	from Departamentos;
end;
GO
